<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Getting started Web content</title>
</head>
<body>
<p th:text="'Hello, ' + ${name} + !"></p>
</body>
</html>